---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<hr />

<!-- Publication 1 -->
<h3><strong>How Can You Tell if Your Large Language Model Could Be a Closet Antisemite? A Framework to Bias Audit Large Language Models</strong></h3>
<p>
  Dutta, A., Fayyazi, R., Yang, S. J., &amp; KhudaBukhsh, A. R. (2026).<br />
  <em>40th Annual AAAI Conference on Artificial Intelligence, AI for Social Impact (AISI) Track, Dorsett Changi, Singapore.</em><br />
  <strong>Status:</strong> Accepted for Publication<br />
  <a href="https://aaai.org/conference/aaai/aaai-26/aisi-call/">Paper Link</a><br />
  <strong>Venue:</strong> AAAI-2026
</p>
<hr />

<!-- Publication 2 -->
<h3><strong>LLM Embedding-based Attribution (LEA): Quantifying Source Contributions to Generative Model's Response for Vulnerability Analysis</strong></h3>
<p>
  Fayyazi, R., Zuzak, M., &amp; Yang, S. J. (2025).<br />
  <em>arXiv preprint arXiv:2506.12100.</em><br />
  <strong>Status:</strong> Submitted for Publication<br />
  <a href="https://arxiv.org/abs/2506.12100">arXiv Link</a><br />
  <strong>Venue:</strong> Arxiv-2025
</p>
<hr />

<!-- Publication 3 -->
<h3><strong>ProveRAG: Provenance-Driven Vulnerability Analysis with Automated Retrieval-Augmented LLMs</strong></h3>
<p>
  Fayyazi, R., Trueba, S., Zuzak, M., &amp; Yang, S. J. (2025).<br />
  <em>IEEE Access.</em><br />
  doi: 10.1109/ACCESS.2025.3638251<br />
  <a href="https://ieeexplore.ieee.org/document/11272947">IEEE Link</a><br />
  <strong>Venue:</strong> IEEE Access-2025
</p>
<hr />

<!-- Publication 4 -->
<h3><strong>Guided Reasoning in LLM-Driven Penetration Testing Using Structured Attack Trees</strong></h3>
<p>
  Nakano, K., Fayyazi, R., Yang, S. J., &amp; Zuzak, M. (2025).<br />
  <em>Second Conference on Language Modeling (COLM), Montreal, Canada.</em><br />
  <a href="https://arxiv.org/abs/2410.17406">arXiv Link</a><br />
  <strong>Venue:</strong> COLM-2025
</p>
<hr />

<!-- Publication 5 -->
<h3><strong>Advancing TTP Analysis: Harnessing the Power of Large Language Models with Retrieval Augmented Generation</strong></h3>
<p>
  Fayyazi, R., Taghdimi, R., &amp; Yang, S. J. (2024).<br />
  <em>ACSAC Workshops, Honolulu, HI, USA.</em><br />
  doi: 10.1109/ACSACW65225.2024.00036<br />
  <a href="https://ieeexplore.ieee.org/abstract/document/10918057">IEEE Link</a><br />
  <strong>Venue:</strong> ACSACW-2024
</p>
<hr />

<!-- Publication 6 -->
<h3><strong>Is More Information Better? How Increasingly Augmented LLM Help in Vulnerability Assessment</strong> <em>(Poster Paper)</em></h3>
<p>
  Fayyazi, R., Trueba, S., &amp; Yang, S. J. (2024).<br />
  <em>USENIX Security Symposium Poster Session, Philadelphia, PA, USA.</em><br />
  <a href="https://www.usenix.org/conference/usenixsecurity24/poster-session">Poster Link</a><br />
  <strong>Venue:</strong> USENIX-2024
</p>
<hr />

<!-- Publication 7 -->
<h3><strong>On the Uses of Large Language Models to Interpret Ambiguous Cyberattack Descriptions</strong></h3>
<p>
  Fayyazi, R., &amp; Yang, S. J. (2023).<br />
  <em>arXiv preprint arXiv:2306.14062.</em><br />
  <a href="https://arxiv.org/abs/2306.14062">arXiv Link</a><br />
  <strong>Venue:</strong> Arxiv-2023
</p>
<hr />

<!-- Publication 8 -->
<h3><strong>Translating Cybersecurity Descriptions into Interpretable MITRE Tactics using Transfer Learning</strong> <em>(Poster Paper)</em></h3>
<p>
  Fayyazi, R., Wufeng Y. S., Gautam P., &amp; Yang S. J. (2022).<br />
  <em>ACSAC 2022, Austin, TX, USA.</em><br />
  <a href="https://www.acsac.org/2022/program/final/p37.html">Paper Link</a><br />
  <strong>Venue:</strong> ACSAC-2022
</p>
<hr />

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2>
        <hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
